.image{
	text-align: center;
}
li img {
	width: 22px;
	height: 22px;
}
td img {
	width: 350px;
	height: 232px;
}
.image_title{
	text-align: center;
	color: red;
	font: italic 12px sans-serif;
	margin-bottom: 10px;
}
.image_number{
	color: red;
	font-weight: bold;
}
.title {
	margin-bottom: 20px;
	font: bold italic 14px sans-serif;
	text-decoration: underline;
}
.subtitle {
	margin-bottom: 20px;
	font-weight: bold;
}
main td {
	border-width: 0px;
}

